$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
$greyish:#7e7f84;
$orange:#f45a40;
$lightOrange: #ff674f;
$grey: #777;
$whiteish: #e5e5e5;
$p-font-size: 20px;
$font-stack: Arial;
$font-header: PT sans;
$borderGrey:  1px solid $whiteish;
$footerColor: #2a2d34;
$footerFontColor:#67696e;
$footerFont: white;

h8{
  color: $footerFont;
}


/* Space out content a bit */
body {
  padding-top: 20px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #777;
  height: 70px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
#logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contact{
  font-family: $font-stack;
  display: flex;
  justify-content: space-around;
  align-items: center;
  i{
    padding-left: 10px;

    input {
      background-color: $whiteish;
      border:8px solid $whiteish;
      margin:0;
      padding:0;
    }
  }

}
.nav a{
  color: $grey !important;
}

.nav a:hover{
  background-color: white !important;
  color: $orange !important;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: $grey;
  border-top: $borderGrey;
}


#searchF{
  border: none !important;
  box-shadow: none;
}
#searchIcon{
  padding:none;
  color: $greyish;
}

#caption{
  background-color: rgba(000,000,000, 0.5) !important ;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 0;
  bottom: 475px;
  width:600px;
  text-align: left;
  padding-bottom: 20px;
    p{
      font-size:1em;
    }
}
#shopBra{
  background-color: $lightOrange;
  border: 1px solid $lightOrange;
  color: white;
  padding: 10px;
}


#orange{
  height: 15px;
  border-top: 8px solid $orange;
  border-bottom: 2px solid $orange;
  position: relative;
  top: 7px;
  z-index:999;
}

#cta{ 
  display: flex;
  justify-content: space-between;
}
#cta img{
  padding-bottom: 20px;
}

#cta_child{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: $font-stack;
}
#cta_child a{
  color: $orange;
  font-size: $p-font-size;
  font-family: $font-header;
}

#separate{
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $p-font-size;
}
.line{
  height: 1px;
  width: 140px;
  border: $borderGrey;
  align-self: flex-center;
  margin-bottom: 10px;
}
#products{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#product{
  padding-bottom: 40px;
}

#rating{
  border-top:  $borderGrey;
  padding-top: 5px;
}

#star {
  color:$orange;
}
#shoe{
  border-bottom:  $borderGrey;
  padding-bottom: 40px;
  padding-top: 30px;
}

#descrip{
  padding: 10px;
}

#buy{
  background-color: $orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: none !important;
}
#buy p{
    margin: 0 !important;
  }

#price{
  padding-top: 10px;
  border-top: $borderGrey;
  display: flex;
  justify-content: space-between;
}
#price p{
  color: $orange;
}
#signup{
  width: 100%;
  background-color: $orange;
  height: 101px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
}
#signup input{
    border: 0;
}

#signupBut{
  background-color: $lightOrange;
  border: 1px solid $lightOrange;
  color: white;
}
#footer{
  height: 335px;
  width: 100%;
  background-color: $footerColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#blog{
  color:white;
  height: 300px;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
#blog p{
  color: $footerFontColor;
}
#blog i{
  padding-right: 10px;
}
.fa-facebook{
  color:$orange;
}
#vimeo{
  color: white;
}

#supportRow{
  display: flex;
  flex: wrap;
}
#supportRow p{
  padding-right: 30px;
}

.selected img {
	opacity:0.5;
}
#slider-thumbs img{
  width: 150px;
}
#myCarousel{
  margin-top:20px;
  height:300px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: $borderGrey;
}
.carousel-inner{
  display: flex;
  justify-content: center;
}


#tabs a{
  padding-right: 5px;
  background-color: $whiteish;
}
#details{
  padding-top: 30px; 
  display: flex;
  flex-direction: column;
}
#aPrice{
  display: flex;
  justify-content: space-between;
}
#save{
  text-align: right;
}
#size{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  select.form-control {
  -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}
  #sel1{
    height: 50px;
    border-radius: 0px;

  }
  input{
    height: 50px;
  }
}