$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
// endbower
$greyish:#7e7f84;
$orange:#f45a40;
$grey: #777;
$whiteish: #e5e5e5;
$p-font-size: 20px;
$font-stack: Arial;
$font-header: PT sans;
$borderGrey:  1px solid $whiteish;


/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #777;
  height: 70px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.nav a{
  color: $grey !important;
}

.nav a:hover{
  background-color: white !important;
  color: $orange !important;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: $grey;
  border-top: $borderGrey;
}


#searchF{
  border: none !important;
  box-shadow: none;
}
#searchIcon{
  padding:none;
  color: $greyish;
}

#orange{
  height: 15px;
  border-top: 8px solid $orange;
  border-bottom: 2px solid $orange;
  position: relative;
  top: 7px;
  z-index:999;
}

#cta{
  padding-top: 70px; 
  display: flex;
  justify-content: space-between;
}
#cta img{
  padding-bottom: 20px;
}

#cta_child{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: $font-stack;
}
#cta_child a{
  color: $orange;
  font-size: $p-font-size;
  font-family: $font-header;
}

#separate{
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $p-font-size;
}
.line{
  height: 1px;
  width: 140px;
  border: $borderGrey;
  align-self: flex-center;
  margin-bottom: 10px;
}
#products{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#product{
  padding-bottom: 40px;
}

#rating{
  border-top:  $borderGrey;
  padding-top: 5px;
}

#star {
  color:$orange;
}
#shoe{
  border-bottom:  $borderGrey;
  padding-bottom: 40px;
  padding-top: 30px;
}

#descrip{
  padding: 10px;
}

#buy{
  background-color: $orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: none !important;
}
#buy p{
    margin: 0 !important;
  }

#price{
  padding-top: 10px;
  border-top: $borderGrey;
  display: flex;
  justify-content: space-between;
}
#price p{
  color: $orange;
}
#signup{
  width: 100%;
  background-color: $orange;
  height: 101px;
}